@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-display: "Outfit", ui-sans-serif, system-ui, sans-serif;
}

.bg-checkered-racing {
  background-image: 
    linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000), 
    linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  background-color: #fff;
}
